<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/style.css">
    <title>Search by ID</title>
</head>
<body>
    <h2>Test homepage</h2>
    <form action="/film_list/" method = "GET">
        <label for="searchInput">Search:</label>
        <input type="text" name="searchTerm" id="searchInput">
        <button type="Search">Search</button>
    </form>
    <h2>ID search</h2>
    <ul>
        <li>Show ID: <%= resultsOutput.show_id%></li>
        <li>Type: <%= resultsOutput.type%></li>
        <li>Title: <%= resultsOutput.title%></li>
        <li>Director: <%= resultsOutput.director%></li>
        <li>Cast: <%= resultsOutput.cast%></li>
        <li>Country: <%= resultsOutput.country%></li>
        <li>Date Added: <%= resultsOutput.date_added%></li>
        <li>Release Year: <%= resultsOutput.release_year%></li>
        <li>Rating: <%= resultsOutput.rating%></li>
        <li>Duration: <%= resultsOutput.duration%></li>
        <li>Genre: <%= resultsOutput.listed_in%></li>
        <li>Description: <%= resultsOutput.description%></li>
    </ul>

</body>
</html>